@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body {
    background-color: black;
}

.container {
    width: 640px;
    height: 328px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding-top: 0px;
}

h2 {
    margin-top:43px;
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
}

p {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-family: 'Sora', sans-serif;
    color: #A9A9A9;
    margin-top: 10px;
}

.number {
    display: flex;
    margin-top: 30px;
}

input {
    width: 48px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid #DADADA;
    margin-right: 5px;
    text-align: center;
    font-size: 24px;
    color: black;
}

input::-webkit-input-placeholder {
    color: black;
}

.first {
    margin-left: 204px;
}
